.footer {
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: black;
}

.footer-info {
    color: white;
    font-size: smaller;
}

.header {
    padding-top: 0.5%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    left: 0;
    margin-left: 0.8%;
    margin-top: 0.3%;
    width: 7%;
}

.text {
    flex-grow: 1;
    text-align: center;
    margin-left: -9%;
    font-weight: bolder;
    font-size: larger;
}

table {
    border-collapse: collapse;
    width: 90vw;
    max-width: 600px;
    background-color: white;
}

td {
    border: 2px solid rgb(242, 242, 242);
    width: 11%;
    height: 67.5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button-div {
    margin-top: 2.5%;
}

/* Laptop screens */
@media screen and (max-width: 1700px) {
    table {
        max-width: 450px;
    }

    td {
        height: 50px;
    }

    .button-div {
        margin-top: 2.5%;
    }
}

/* Mobile screens */
@media screen and (max-width: 900px) {
    table {
        max-width: 400px;
    }

    td {
        height: 35px;
    }

    .button-div {
        margin-top: 15%;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .logo {
        margin-top: 10%;
        width: 25%;
        margin-bottom: 10%;
    }
    
    .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        order: 1;
        margin-bottom: 10px;
        text-align: center;
        max-width: 90%;
        word-wrap: break-word;
    }

}

td:hover {
    background-color: #f0f0f0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

body {
    background-color: black;
}

.bi {
    font-size: 1.05rem;
    color: white;
}

.bi:hover {
    color: red;
}

.btn {
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-font-size: 1.4rem;
    --bs-btn-font-weight: 800;
    --bs-btn-line-height: 1.3;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: red;
    --bs-btn-border-color: red;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: red;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: red;
    --bs-btn-active-border-color: red;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: red;
    --bs-btn-disabled-border-color: red;
}